/*
 *
 */

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #2ea3f2;
$indigo:  #6610f2;
$purple:  #4c2ef2;
$pink:    #df2ef2;
$red:     #fe232e;
$orange:  #ff6600;
$yellow:  #f8f32b;
$green:   #23d15d;
$teal:    #20c997;
$cyan:    #0dccf2;

$indigo_CMYK : rgb(56, 73, 158);

$gradient1 : linear-gradient(45deg, $indigo_CMYK, rebeccapurple);
$gradient2 : linear-gradient(45deg, $indigo_CMYK, $indigo);

$primary:       $indigo_CMYK;
$secondary:     $gray-600;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$color-contrast-dark:      $black;
$color-contrast-light:     $white;