{%- for product in collection.products -%}
    {% assign lazy_load = false %}
    {%- if forloop.index > 2 -%}
        {%- assign lazy_load = true -%}
    {%- endif -%}
    <div>hello {{ product.name }}</div>
{%- endfor -%}