<main id="main-landing-content"
    class="container-fluid p-0">
</main>

{% schema %}

{
    "name" : "Landing Page",
    "settings" : [],
    "blocks" : [
        {
            "name" : "Header Image",
            "type" : "landing_page_header_image",
            "settings" : [{
                "id" : "landing_page_header_image_img",
                "type" : "image_picker",
                "label" : "Header Image"
            }]
        }
    ]
}

{% endschema %}