{% form "storefront_password" %}
{{ form.errors | default_errors }}
    <div class="row g-3 align-items-center">
        <div class="col-md">
            <label for="password" class="col-form-label">Password</label>
        </div>
        <div class="col-md">
            <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-md">
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
        <div class="col-md"><input type="submit" name="commit" class="btn btn-primary" /></div>
    </div>
{% endform %}