/*
 *
 */

#header {
    background-color: $indigo_CMYK !important;
    &-logo {
        height: 48px;
        color: $white;

        svg {
            fill: currentColor;
            height: 100%;

            &:hover {
                fill: $primary;
            }
        }
    }
}
