/*
 *
 */

#header {
    background-color: $indigo_CMYK !important;
    &-logo {
        height: 48px;
        color: $white;

        svg {
            fill: currentColor;
            height: 100%;

            transition: fill .2s ease-in-out;

            &:hover {
                fill: darken($indigo_CMYK, 22%);
            }
        }
    }
}
